@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Courier, monospace;
  margin: 0;
  padding: 0;
  display: block;
}


button {
  background: none;
  border-style: none;
  border-color: none;
  color: none;
  cursor: pointer;
}

header {
  height: 170px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -3px 0 0 #235597, 3px 0 0 #235597, 0 -3px 0 #235597,
    0 3px 0 #235597;
}

link {
  text-decoration: none;
}

li {
  list-style: none;
}


 /* ESTILOS QUE AUN NO ENTIENDO */
.pokemon-picker {
  display: flex;
}

.container.red {
  background: red;
}

/* Header */
.color-picker {
  margin-top: 10px;
}

.color-picker button {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 5px;
  outline: none;
  padding: 0;
}
/* bolitas del heather */
.PokeBall {
  display: flex;
  align-items: center;
}
.PokeBall {
  display: flex;
  align-items: center;
}
.red {
  width: 30px;
}

h1 {
  color: #f7c509;
  font-family: Fjalla One;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-shadow: -3px 0 0 #235597, 3px 0 0 #235597, 0 -3px 0 #235597,
    0 3px 0 #235597, 0 0 5px #000;
  margin: 0;
  padding: 0;
}

header h1 a {
  color: #f7c509;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

a {
  color: #235597;
  text-decoration: none;
}

.color-picker {
  margin-top: 10px;
}

/* CARD */

.pokemon-detail {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.images {
  margin-bottom: 6px;
}

.pokemon .images img {
  background: #eaeaea;
  border-radius: 15px;
  margin-right: 10px;
  height: 96px;
  width: 96px;
}

.pokemon ul.types {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ESTILOS GENERALES */

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(170 255 208);
  background: #c0fff7;
  overflow: hidden;
  font-family: "Roboto";
  text-align: center;
}

.container-app {
  background: #fff;
  background: url(../resource/Onega_Town.png);
  box-shadow: -3px 0 0 #235597, 3px 0 0 #235597, 0 -3px 0 #235597, 0 3px 0 #235597;
  font-family: Roboto Mono,monospace;
  width: 500px;
  min-height: 550px;
  max-height: 550px;
  display: flex;
  justify-content: center;
}

.container-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-wiki {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* COMPONENTE LISTA DE LOS POKEMONES */

.poke-list-style {
  color: #eaeaea;
}

.poke-nav-style {
  max-height: 250px;
  overflow:scroll;
  display: block;
}

.poke-nav-list {
  display: block;
}